@import 'assets/styles/fontFamilyDescription.css';
@import '../node_modules/normalize.css/normalize.css';

:root{
    /* _colors_ */
    --black: #000000;
    --pewter-blue: #81ADC8;
    --alice-blue: #EDF3F7;
    --davys-gray: #4D4D4D;
    --vermillion: #CD4631;
    --champagne: #F7EDE8;

    /* _text_size_ */
    --grand-txt-sz: 96px;
    --h1-txt-sz: 58px;
    --h2-txt-sz: 36px;
    --h3-txt-sz: 22px;
    --body-txt-sz: 16px;
    --caption-txt-sz: 14px;
    --small-txt-sz: 12px;
}

html, body, #app {
    height: 100%;
}

* {
    font-family: 'Montserrat';
    text-decoration: none;
}
